@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    font-family: 'Source Code Pro', cursive;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    color: rgb(0, 126, 249);
    font-family: 'Source Code Pro', cursive;
    background-color: rgb(45, 51, 73);
}

.col-sm-5 {
    flex: 0 0 auto;
    width: auto;
    padding-left: 40px;
}

button {
    width: 60px;
    height: 40px;
    background-color: rgb(2, 50, 128);
    border: none;
    border-radius: 5px;
    transition-duration: .4s;
}

button:hover {
    background-color: rgb(0, 82, 214);
}

html {
    height: 100%;
}

input {
    background-color: rgb(45, 51, 73);
    color: rgb(0, 126, 249);
    font-weight: 800;
    border: 1px solid rgb(7, 146, 146);
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    max-width: 1800px;
    height: 100%;
}

.search {
    padding: 20px;
    margin-right: 30px;
    background-color: rgb(24, 30, 54);
    max-width: 25%;
}

.search h1 {
    padding-top: 18px;
    padding-bottom: 30px;
    font-weight: 800;
    padding-left: 70px;
}

.forecast {
    margin-top: 25px;
    margin-bottom: 25px;
    border: solid 1px rgb(7, 146, 146);
    border-radius: 10px;
    margin-left: 5%;
    min-width: 640px;
    padding: 12px 15px 15px 15px;
    height: 40%;
}

.fiveDayForecastContainer {
    background-color: rgb(45, 51, 73);
}

.card {
    background-color: rgb(24, 30, 54);
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
}

.btn {
    margin-top: 10px;
}

.historyItems {
    margin-top: 20px;
}

.historyItems:nth-child() {
    margin-top: 20px;
}

img {
    width: auto;
    height: auto;
}

input {
    height: 40px;
    width: auto;
}

li:first-child {
    height: 100%;
    font-size: larger;
    background-color: white;
    border: solid 1px #cecfd2;
    border-radius: 6px 6px 0px 0px;
    padding: 12px 5px 12px 15px;
    list-style: none;
}

li {
    height: 100%;
    font-size: larger;
    background-color: white;
    border: solid 1px #cecfd2;
    border-radius: 0px 0px 0px 0px;
    padding: 12px 5px 12px 15px;
    list-style: none;
}

li:last-child {
    height: 100%;
    font-size: larger;
    background-color: white;
    border: solid 1px #cecfd2;
    border-radius: 0px 0px 6px 6px;
    padding: 12px 5px 12px 15px;
    list-style: none;
}

.row {
    display: flex;
    margin: 5px 5px 5px 0px;
}

.row * {
    margin-right: 5px;
}